{% extends "website/base.html" %}
{% block title %}Best access deal{% endblock %}
{% load static %}

{% block content %}
  <!-- Content -->
  <div id="content"> 
    <!-- LATEST WORK -->
    <section class="contact-page padding-top-0 padding-bottom-0">
      <div class="container">
        <div class="row margin-top-100 margin-bottom-100">
          <div class="col-md-8 col-sm-7 col-xs-12">
            <div class="heading text-left margin-bottom-20">
              <h4> Contact Us</h4>
              <hr>
            </div>
            <div class="contact-form">      
              <!-- Form  -->
              <div class="margin-top-50">
                <div class="contact-form"> 
                  
                  <!-- Success Msg -->
                  <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Thank You. Your Message has been Submitted</div>
                  
                  <!-- FORM -->
                  <form id="contact_form" class="contact-form" method="post">
                    {% csrf_token %}
                    <ul class="row">
                      <li class="col-sm-6">
                        <label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                        </label>
                      </li>
                      <li class="col-sm-6">
                        <label>
                          <input type="text" class="form-control" name="email" id="email" placeholder="E-Mail" required>
                        </label>
                      </li>
                      <li class="col-sm-6">
                        <label>
                          <input type="text" class="form-control" name="phone" id="company" placeholder="Phone" required>
                        </label>
                      </li>
                      <li class="col-sm-6">
                        <label>
                          <input type="text" class="form-control" name="subject" id="website" placeholder="Subject" required>
                        </label>
                      </li>
                      <li class="col-sm-12">
                        <label>
                          <textarea class="form-control" name="message" id="message" rows="5" placeholder="Your Message" required></textarea>
                        </label>
                      </li>
                      <li class="col-sm-12">
                        <button type="submit" class="btn" id="btn_submit"">Submit</button>
                      </li>
                    </ul>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-12"> 
            
            <!-- Contact Info -->
            <div class="services">
              <ul class="row">
                {% for contact  in contact %}            
                <!-- 24/7 services -->
                <li class="col-md-12">
                  <article>
                    <div class="media-left">
                      <div class="icon"><img src="images/contact-icon-2.png" alt="" ></div>
                    </div>
                    <div class="media-body">
                      <h6>WhatsApp</h6>
                      <p>{{ contact.phone }}
                    </div>
                  </article>
                </li>
                <!-- 24/7 services -->
                <li class="col-md-12">
                  <article>
                    <div class="media-left">
                      <div class="icon"><img src="images/contact-icon-3.png" alt="" ></div>
                    </div>
                    <div class="media-body">
                      <h6>Skype</h6>
                      <p>{{ contact.skype }}<br>
                    </div>
                  </article>
                </li>
                <li class="col-md-12">
                  <article>
                    <div class="media-left">
                      <div class="icon"><img src="images/contact-icon-3.png" alt="" ></div>
                    </div>
                    <div class="media-body">
                      <h6>Gmail</h6>
                      <p>{{ contact.email }}<br>
                    </div>
                  </article>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}