{% extends "website/base.html" %}
{% block title %}Best access deal{% endblock %}
{% load static %}

{% block content %}
<div id="generic_price_table">   
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--PRICE HEADING START-->
          <div class="price-heading clearfix">
            <h1>Our Product Prices</h1>
          </div>
          <!--//PRICE HEADING END-->
        </div>
      </div>
    </div>
    <div class="container">          
      <!--BLOCK ROW START-->
      <div class="row">
        {% for cuppon_card in cuppon_card_list %}
        <div class="col-md-3">             
        <!--PRICE CONTENT START-->
          <div class="generic_content active clearfix" style="border: 1px solid;">                        
            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">                 
              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">
                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>{{cuppon_card.header_title}}</span>
                </div>
                <!--//HEAD END-->                               
              </div>
              <!--//HEAD CONTENT END-->                           
              <!--PRICE START-->
              <!-- <div class="generic_price_tag clearfix">  
                <span class="price">
                  <span class="sign">$</span>
                  <span class="currency">199</span>
                  <span class="cent">.99</span>
                  <span class="month">/MON</span>
                </span>
              </div> -->
              <!--//PRICE END-->                           
            </div>                            
            <!--//HEAD PRICE DETAIL END-->                        
            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul>
                <li><span>{{cuppon_card.products_1}}</span> {{cuppon_card.price_1}}</li>
                <li><span>{{cuppon_card.products_2}}</span> {{cuppon_card.price_2}}</li>
                <li><span>{{cuppon_card.products_3}}</span> {{cuppon_card.price_3}}</li>
              </ul>
            </div>
            <!--//FEATURE LIST END-->                     
            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="{% url 'contact' %}">Contact</a>
            </div>
            <!--//BUTTON END-->                       
          </div>
          <!--//PRICE CONTENT END-->                     
        </div>
        {% endfor %}
      </div>  
      <!--//BLOCK ROW END-->           
    </div>
  </section>             
</div>


  
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Welcome to Beat Access Deal -->
    <section class="welcome padding-top-100 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12"> 
            <!-- Heading -->
            <div class="heading"> <span>Welcome to Best Access Deal</span>
              <h4>Why choose us ?</h4>
              <hr>
            </div>
            {% for choose_messge in choose_messge_list %}
            <p>{{choose_messge}}</p>
            {% endfor %}
        </div>
        
        <!-- SERVICES -->
        <div class="services">
          <ul class="row">
            {% for service in services %}
            <!-- 24/7 services -->
            <li class="col-md-4 col-sm-6">
              <article>
                <div class="media-left">
                  <div class="icon"><img src="{{ service.image.url }}" style="height: 100%; width: 100%" alt="" ></div>
                </div>
                <div class="media-body">
                  <h6>{{ service.title }}</h6>
                  <p>{{ service.message }}</p>
                </div>
              </article>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </section>
    
    <!-- Request a quote -->

    
    <!-- SERVICES -->
    <section class="padding-top-30 padding-bottom-70">
      <div class="container"> 
        <!-- Heading -->
        <div class="heading text-center"> <span>our services</span>
          <h4>What we offer</h4>
          <hr>
        </div>
        
        <!-- SERVICES -->
        <div class="services style-2">
          <ul class="row">
            
            <!-- 24/7 services -->
            {% for service_and_offer in services_and_offers %}
            <li class="col-md-4 col-sm-6 col-xs-12">
              <article>
                <div class="media-left">
                  <div class="icon"><img src="{{ service_and_offer.image.url }}" alt="" ></div>
                </div>
                <div class="media-body">
                  <h6>{{ service_and_offer.title }} </h6>
                </div>
                <p>{{ service_and_offer.message }}</p>
              </article>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    
    <!-- WORK PROCESS -->

    
    <!-- TEAM -->
    
    
    <!-- Testimonial -->
    
    
    <!-- blog -->
    <section class="blog light-gray-bg padding-top-100 padding-bottom-70">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading text-center margin-bottom-60"> <span>Our Blog</span>
          <h4>Latest New updates</h4>
          <hr>
        </div>
        
        <!-- Row -->
        <div class="row"> 
          <!-- BLOG -->
          {% for blog in blogs %}
          <div class="col-md-4 col-sm-6 col-xs-6">
            <article> <img class="img-responsive" src="{{ blog.image.url }}" alt="" >
              <div class="post-info">
                <div class="media-left">
                  <div class="date" style="height: 55px;"> {{ blog.date.date }}</div>
                </div>
                <div class="media-body"> <h4 class="tittle-post"><a href="{% url 'blog-details' blog.id %}">{{ blog.title}} </a></h4>
                  <hr class="main">
                  <span>By : <span class="primary-color">{{ blog.author }} </span> Category : <span class="primary-color">{{ blog.category }} </span></span> </div>
                <p>{{blog.body|truncatechars:100}} </p>
                {% comment %} <ul class="pull-left icons">
                  <li><i class="icon-heart"></i></li>
                  <li><i class="icon-bubbles"></i></li>
                  <li><i class="icon-share"></i></li>
                </ul> {% endcomment %}
                <a href="{% url 'blog-details' blog.id %}" class="read-more">read more </a> </div>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>

{% endblock %}