<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="M_Adnan">
  <title>{% block title %}{% endblock %}</title>
  {% include "website/partials/__css.html" %}
</head>
<body>
<!-- Wrap -->
<div id="wrap"> 
  <!-- header -->
  {% include "website/partials/__header.html" %}
  <!--======= HOME Main Contetn =========-->
  {% block content %}

  {% endblock  %}
  <!-- FOOTER -->
  {% include "website/partials/__footer.html" %}
</div>
<!-- FOOTER -->
{% include "website/partials/__js.html" %}
{% block js%}

{% endblock %}
</body>
